# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Compiled binary
multi-source-downloader

# Swap files
*.swp

# Archives files
*.tar.gz

# Build Directories
Final
amd64
final

# Development Directories
downloads
debug

# Certs
certs

# MacOs files
.DS_Store

# VSCode files
.vscode

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Fragments of a file needed to assemble it.
*.part

# Bakup files
*.bak*
bak.*
*.bak

# Compressed files
*.tar.*

# Database files
*.db

# Dependency directories (remove the comment below to include it)
# vendor/

dist/
